*-debug.log
*-error.log
/.nyc_output
/dist
/lib
/package-lock.json
/tmp
node_modules

# This file is created to test the args validation logic
# It should be removed automatically but let's gitignore it just in case
EXISTS-*.md

# IDE
.idea
